
<!DOCTYPE HTML>
<html>
  <head>
    <title></title>
  </head>

  <style>
    body {
    	background-color: #000000;
    }
    .video-container iframe, 
    .video-container object, 
    .video-container embed {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  </style>
    
  <body id='pCont'>
    <div class="video-container">
      <iframe width="100%" height="100%" src="<%= node['landing']['video_url'] %>" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </body>
</html>
